- model_id: z-ai-glm-4.7
  model_name: glm-4.7
  aliases: ["glm"]
  api_base: "https://api.z.ai/api/coding/paas/v4"
  api_key_name: z-ai-coding-key
  can_stream: true
  supports_tools: true
  supports_schema: true

- model_id: z-ai-glm-4.7-flash
  model_name: glm-4.7-flash
  api_base: "https://api.z.ai/api/coding/paas/v4"
  api_key_name: z-ai-coding-key
  thinking: disabled
  can_stream: true
  supports_tools: true
  supports_schema: true

- model_id: z-ai-glm-4.6v
  model_name: glm-4.6v
  api_base: "https://api.z.ai/api/coding/paas/v4"
  api_key_name: z-ai-coding-key
  can_stream: true
  supports_tools: true
  vision: true
